
/*-- Generic --*/
h1 {
color: rgb(28, 26, 170);
font-family: Georgia, serif;
}

body {
background-color: rgb(175, 231, 255);
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1.5em;
color:  rgb(28, 26, 170);
}

.flex-container{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(248, 131, 6, 0.158);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

/*-- Contact --*/

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.reservation p {
    color: #13161B;
    width: 50%;
    margin: 0 auto;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222) ;
    box-shadow: 2px 3px 3px 0px rgba (0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090B0D; 
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090B0D;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba (5, 5, 5, 0.15) ;
    font-family: 'Raleway', sans-serif;
}


.container {
    max-width: 960px;
    margin: 0 auto; /* Centers horizontally */
}

/*-- Video --*/
.container {
width: 100%; /* Sets the width of the container to the screen width */
display: flex; /* Uses flexbox layout */
justify-content: center; /* Centers the content horizontally */
}

/*-- Footer --*/
#footer {
    background-color:  rgba(248, 131, 6, 0.158);
    color: rgb(28, 26, 170);
    text-shadow: 2px 2px 8px 0 rgba (0, 0, 0, 1);
    padding: 20px 50px 20px 50px;
    text-align: right;
}